<!-- <div class="container">
  <div class="details">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="input-container">
        <label>Email</label>
        <div>
          <input type="email" placeholder="Enter your email" formControlName="email"/>
        </div>
        <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
          <div *ngIf="fc.email.errors.required">Email should not be empty.!</div>
          <div *ngIf="fc.email.errors.email">Invalid Email.!</div>
        </div>
      </div>
      <div class="input-container">
        <label>Password</label>
        <div>
          <input type="password" placeholder="Enter your password" formControlName="password"/>
        </div>
        <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
          <div *ngIf="fc.password.errors.required">Password should not be empty.!</div>
        </div>
      </div>
      <div class="button">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div> -->

<div class="container">
  <div class="screen">
    <div class="screen_content">
      <form [formGroup]="loginForm" class="login" (ngSubmit)="submit()">
        <div class="login_field">
          <i class="login_icon fas fa-user-alt"></i>
          <input type="email" formControlName="email" class="login_input" placeholder="Email Id">
        </div>
        <div class="login_field">
          <i class="login_icon fas fa-lock"></i>
          <input type="password" formControlName="password" class="login_input" placeholder="Password">
        </div>
        <button class="button login_submit">
          <span class="button_text">Login</span>
          <i class="button_icon fas fa-chevron-right"></i>
        </button>
      </form>
    </div>
    <div class="screen_background">
      <span class="screen_background_shape screen_background_shape4"></span>
      <span class="screen_background_shape screen_background_shape3"></span>
      <span class="screen_background_shape screen_background_shape2"></span>
      <span class="screen_background_shape screen_background_shape1"></span>
    </div>
  </div>
</div>
